body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldest,table,td,img,div,dl,dt,dd,input{
	margin:0;
	padding:0;
	font-weight: normal;
}
img{
	border:none;
}
li{
	list-style:none;
}
input,select,textarea{
	outline:none;
}
textarea{
	resize:none;
}
a{
	text-decoration:none;
}
body{
	font-family: "[DroidSansFallback]"; 
	font-size:14px;
	background: #eeeeee;
}
/*浮动*/
.fl{
	float:left;
}
.fr{
	float:right;
}
/*清除浮动*/
.clear{
	content:"";display:block;clear:both;
}
.clearfix{
	zoom:1;
}

header{
	width:100%;
	height:56px;
	background:#517de7 ;
	position:relative;
}
header .arrow{
	display:block;
	width:11px;
	height:21px;
	background:url(../img/arrow.png) no-repeat;
	position:absolute;
	top:17px;
	left:20px;
}
header .topic{
	text-align:center;
	line-height: 56px;
	color:#fff;
	font-size: 24px;
}
header .all{
	position:absolute;
	right:20px;
	top:0;
	line-height:56px;
	color:#fff;
	font-size:16px;
}
.warning{
	width:100%;
	height:32px;
	line-height:32px;
	text-align: center;
	background: #f5edab;
	color:#ff9800;
	font-size: 12px;
}
.content{
	width:95%;
	margin:10px auto 0 auto;
	padding-bottom:10px;
	background: #fff;
	border-radius: 5px;
	border:solid 1px #dedede;
	position:relative;
}

.contentAll{
	width:95%;
	margin:10px auto 0 auto;
	
	padding-bottom:10px;
	background: #fff;
	position:relative;
}
.content p{
	margin:0 10px;
	font-size: 16px;
	color:#666666;
	text-align: left;
	line-height:20px;
	margin-top:10px;
}
.content .list{
	margin-left:10px;
	margin-top:5px;
}
.content .list li{
	padding-left: 20px;
	line-height:12px;
	font-size: 12px;
	color:#999999;
	margin-top:10px;
}
.content .list .list1{
	background: url(../img/icon1.png) no-repeat center left;
}
.content .list .list2{
	background: url(../img/icon2.png) no-repeat center left;
}
.content .money{
	margin-left:10px;
	margin-top:10px;
	font-size:18px;
	color:#db3838;
}
.content .money span{
	font-size:12px;
	color:#517de7;
	margin-left:10px;
}
.content .date{
	color:#999999;
	font-size:12px;
	margin-left:10px;
	margin-top:10px;
}
.content .checkBtn{
	color:#517de7;
	font-size:14px;
	text-align: center;
	bottom: 10px;
	margin-top: 10px;
}
.content .btnChange{
	position:absolute;
	padding:7px 25px;
	background: #517de7;
	border-radius:5px;
	bottom:50px;
	right:12px;
	border:none;
	font-size:16px;
	color:#fff;
}
.content .checkDate{
	position:absolute;
	color:#27A55B;
	padding:7px 7px;
	border-radius:5px;
	bottom:35px;
	right:12px;
	border:none;
	font-size:12px;
}
.content .payYetBtn{
	position:absolute;
	color:#27A55B;
	padding:7px 7px;
	border-radius:5px;
	bottom:50px;
	right:12px;
	border:none;
	font-size:16px;
}
.content .checkMissDate{
	position:absolute;
	color:#DB3738;
	padding:4px 7px;
	border-radius:5px;
	bottom:1px;
	right:12px;
	border:none;
	font-size:12px;
}
.content .payMissBtn{
	position:absolute;
	color:#DB3738;
	padding:5px 7px;
	border-radius:5px;
	bottom:13px;
	right:12px;
	border:none;
	font-size:16px;
}
.content .btn{
	position:absolute;
	padding:7px 25px;
	background: #517de7;
	border-radius:5px;
	bottom:10px;
	right:12px;
	border:none;
	font-size:16px;
	color:#fff;
}
.mask{
	width:100%;
	height:100%;
	background: #000;
	position:absolute;
	left:0;
	top:0;
	opacity:0.3;
	display:none;
}
.method{
	display:none;
}
.pattem{
	width:100%;
	background:#fff;
	position:fixed;
	bottom:0;
	left:0;
	padding:10px 0;
}
.pattem h3{
	text-align:center;
	font-size:16px;
	color:#333333;
	margin-top:10px;
}
.pattem .close{
	position:absolute;
	top:20px;
	right:16px;
}
.pattem p{
	margin:18px 20px 0 20px;
	font-size:13px;
	color:#666666;
	text-align:left;
}
.pattem .money{
	margin-top:20px;
	font-size:13px;
	color:#db3838;
	text-align:center;
}
.pattem .money span{
	font-size:12px;
	color:#517de7;
	margin-left:10px;
}
.pattem .mold{
	width:100%;
	margin-top:15px;
	text-align:center;
}
.pattem .mold dd{
	width:43px;
	height:43px;
	margin:0 auto;
}
.pattem .mold dd img{
	width:100%;
	height:100%;
}
.pattem .mold dt{
	font-size:12px;
	color:#666666;
	text-align:center;
	margin-top:10px;
}
.line{
	width:95%;
	height:1px;
	background:#eee ;
	margin:0 auto;
	margin-top:15px;
}
.pattem .box{
	width:144px;
	margin:0 auto;
}
.pattem .update{
	width:144px;
	height:36px;
	background: #517de7;
	border-radius:5px;
	border:none;
	font-size:16px;
	color:#fff;
	margin:0 auto;
	margin-top:10px;
}
.pattem .choose{
	width:212px;
	margin:0 auto;
	height:23px;
	border-radius:5px;
	border:solid 1px #517de7;
	overflow:hidden;
}
.pattem .choose li{
	float:left;
	width:70px;
	height:23px;
	background:#fff;
	text-align:center;
	color:#517de7;
	line-height:23px;
	font-size:12px;
}
.pattem .choose .currentLi{
	background:#517de7 ;
	color:#fff;
}
.pattem .choose .secondLi{
	border-left:solid 1px #517de7;
	border-right:solid 1px #517de7;
}
.sucess{
	line-height:50px;
	text-align:center;
	color:#517de7;
	font-size:16px;
}
.voucher{
	width:95%;
	margin:0 auto;
	border:solid 1px #dedede;
	border-radius:5px;
	background: #fff;
	padding-bottom:10px;
}
.voucher .top{
	width:100%;
	padding-bottom:10px;
	background:#8bc34a;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.voucher .device{
	width:100%;
	height:2px;
	background: url(../img/bg1.png) repeat-x;
}
.voucher .top h4{
	color:#4d7a19;
	font-size:12px;
	text-align:center;
	padding-top:10px;
}
.voucher .top h5{
	color:#fff;
	font-size:16px;
	text-align:center;
	padding-top:10px;
}
.voucher .electronic{
	font-size: 12px;
	color:#333;
	margin-top:15px;
	margin-left:15px;
}
.voucher .num{
	font-size: 20px;
	color:#333;
	margin-top:10px;
	margin-left:15px;
}
.voucher .detail{
	margin-left:15px;
	margin-top:10px;
}
.voucher .detail li{
	font-size:12px;
	color:#999999;
	line-height:20px;
}
.pattem .detail{
	margin-left:15px;
	margin-top:10px;
}
.pattem .detail li{
	font-size:12px;
	color:#999999;
	line-height:20px;
}
.pattem .again{
	margin-top:10px;
}
.care{
	width:95%;
	margin:0 auto;
	background:#f5edab ;
	padding:10px 0;
	margin-top:10px;
}
.care ul{
	margin-left:15px;
}
.care ul li{
	color:#ff9800;
	font-size:12px;
	line-height:20px;
}
.false{
	margin:20px;
	font-size:16px;
	color:#db3838;	
}
.cause{
	margin:0px 20px 0px 20px;
	font-size:12px;
	color:#db3838;
	line-height:20px;
}
